name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: leanprover/lean-action@v1

      - name: Build project
        run: lake build

      - name: Build tests
        run: lake build tests

      - name: Run tests
        run: lake exe tests
